<%= form_for @item, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="span6">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
	
  <div class="control-group">
    <%= link_to "choose image", item_images_path(:item_id => @item), :class => 'control-label btn btn-success', :target => "_blank" %>
  </div>
	
	
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="span6">
      <script>edToolbar('mytxtarea'); </script>
      <%= f.text_area :description, :id => "mytxtarea", :class => 'field span7', :rows => "30" %>
					
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                items_path, :class => 'btn' %>
  </div>
<% end %>
