<%- model_class = Item -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= link_to '新建宝贝', new_item_path, :class => 'btn' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;名称&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>描述</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操&nbsp;作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= simple_format item.description %></td>
        <td>
          <%= link_to '修改', edit_item_path(item), :class => 'btn btn-primary' %>
          <%= link_to '删除', item_path(item), :method => :delete, :confirm => '确定?', :class => 'btn  btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= will_paginate @items %>
